$backgroundColor: #994f4f;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: darken($backgroundColor, 50);
    border-top: 1px solid rgb(58, 21, 21);
    padding: 1em 3em;
    margin: 0;
  }

  header {
    background: darken($backgroundColor, 75);
    border-bottom: 1px solid rgb(58, 20, 20);
    color: rgb(197, 148, 74);
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
